:root{
    --background-code: #1e1f35;
}
.frame-code{
    margin: 1rem;
}
.deckgo-highlight-code-carbon{
    background-color: var(--background-code);
    border-radius: 1rem;
    font-size: 1rem;
}
.btn-copy{
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    margin: 0 0 0 calc(100% - 35px);
}
.frame-code:hover .btn-copy{
    display: block;
}
@media (min-width: 768px) and (max-width: 991px) {
    .btn-copy{
        display: block;
    }
}

/*ui mobile*/
@media (max-width: 767px) {
    .btn-copy{
        display: block;
    }
}