:root{
    --background-dark: #161616;
    --background-main: #000;
    --color-text: #4e4d4d;
    --color-text-active: #fff;
    --color-main1: #00f8ec;
    --color-main2: #f000f8; 
}
*,
*:before,
*:after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
  font: inherit;
}
img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}
li{
    list-style: none;
}
body {
  min-height: 100vh;
  font-family: 'Inter', sans-serif;
  background-color: var(--background-main);
}
/***scroll***/
/* width */
::-webkit-scrollbar {
    width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--color-text);
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: gray;
}
/***scroll***/
/* width */
::-webkit-scrollbar {
    width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--color-text);
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: gray;
}
.wrapper{
    
}
.body{
    display: flex;
}
/*icon active menu*/
#menu_checkbox {
    display: none;
}
  
.icon-menu {
    position: fixed;
    top: 40px;
    left: 10px;
    display: block;
    width: 30px;
    height: 30px;
    margin: -30px auto 0 auto;
    cursor: pointer;
}
  
.icon-menu div {
    position: relative;
    top: 0;
    height: 6px;
    background-color: #fff;
    margin-bottom: 3px;
    transition: 0.3s ease transform, 0.3s ease top, 0.3s ease width,
      0.3s ease right;
    border-radius: 2px;
}
  
.icon-menu div:first-child {
    transform-origin: 0;
}
  
.icon-menu div:last-child {
    margin-bottom: 0;
    transform-origin: 60px;
}
  
.icon-menu div:nth-child(2) {
    right: 0;
    width: 30px;
}
  
#menu_checkbox:checked + .icon-menu div:first-child {
    top: -8px;
    transform: rotateZ(45deg);
}

#menu_checkbox:checked + .icon-menu div:last-child {
    top: 29px;
    right: 5px;
    transform: rotateZ(45deg);
}
  
#menu_checkbox:checked + .icon-menu div:nth-child(2) {
    width: 47px;
    top: 3;
    right: 6px;
    transform: rotateZ(-45deg);
}
/*layout*/
.menu{
    width: 250px;
    height: 100vh;
    background-color: var(--background-dark);
    overflow-y: auto;
    position: fixed;
    inset: 0;
    transition: linear 1s;
    z-index: 1;
}
.menu-border-avatar{
    margin: 40px;
    padding: 5px;
    border-radius: 50%;
    background-image: linear-gradient(to right, #00fcda, #ff00ea);
}
.avatar{
    position: relative;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    object-fit: cover;
}
.name{
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    color: transparent;
    background-image: linear-gradient(to right, var(--color-main1), var(--color-main2));
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}
.menu-ul{
    margin-top: 10px;
    padding: 0 10px;
}
.menu-ul-li{
    color: var(--color-text-active);
    font-size: 20px;
}
.menu-item{
    /*display: flex;*/
}
.menu-item__parent{
    display: flex;
    margin: 5px;
    color: var(--color-text);
    text-decoration: none;
    background-color: transparent;
    position: relative;
    transition: linear 1s;
    z-index: 1;
    padding: 5px;
    cursor: pointer;
}
.menu-item__child{
    display: none;
    z-index: -1;
    transition: linear 1s;
}
.menu-item__parent::before{
    content: "";
    background-color: var(--background-main);
    width: 2px;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: linear 1s;
    border-radius: 0px 20px 20px 0px;
}
.menu-item__parent:hover{
    color: var(--color-text-active);
    transition: linear 1s;
}
.menu-item__parent:hover::before{
    width: 100%;
    transition: linear 1s;
}
.menu-item__link{
    color: var(--color-text);
    display: flex;
    text-decoration: none;
    background-color: transparent;
    position: relative;
    transition: linear 1s;
    z-index: 1;
    padding: 5px;
    margin: 5px 0px 0px 10px;
    font-size: 15px;
}
.menu-item__name{
    margin-left: 5px;
}
.menu-item__link::before{
    content: "";
    width: 2px;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: linear 1s;
    /* border-radius: 0px 100% 100% 0px; */
}
.menu-item__link:hover{
    color: var(--color-text-active);
    transition: linear 1s;
}
.menu-link:hover::before{
    width: 100%;
    transition: all 1s;
}
.mobile-menu-background{
    position: fixed;
    inset: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0,0,0,.5);
    margin-left: auto;
    display: none;
    transition: linear 2s;
}
/*content*/
.content{
    width: calc(100% - 250px);
    min-height: 100vh;
    background-color: var(--background-main);
    margin-left: auto;
    transition: linear 1s;
}
.content-body{
    max-width: 980px;
    margin: 0 auto;
    transition: linear 2s;
}
.content-body-title__parent{
    text-align: center;
    margin: 20px 0px;
}
.content-body-title__parent::after{
    content: "";
    display: block;
    width: 50%;
    height: 3px;
    margin: 10px auto;
    background-image: linear-gradient(to right, var(--color-main1), var(--color-main2));
    transition: linear 1s;
}
.content-body-title__parent--text{
    background-image: linear-gradient(to right, var(--color-main1), var(--color-main2));
    -webkit-background-clip: text;
    font-size: 60px;
    color: transparent;
}
.content-body-title__child{
    color: var(--color-main1);
    margin: 10px;
    font-size: 24px;
}

/*footer*/
.footer{

}

@media (min-width: 992px) {
    
}

/*ui tablet*/
@media (min-width: 768px) and (max-width: 991px) {
    .content-body{
        margin-top: 30px;
        transition: linear 2s;
    }
    .icon-menu{
        z-index: 2;
    }
    .toggle-menu{
        margin-left: -250px;
    }
    .content{
        width: 100%;
    }
    .content-body-title__parent::after{
        width: 70%;
    }
}

/*ui mobile*/
@media (max-width: 767px) {
    .content-body{
        margin-top: 30px;
        transition: linear 2s;
    }
    .icon-menu{
        z-index: 2;
    }
    .toggle-menu{
        margin-left: -250px;
    }
    .content{
        width: 100%;
    }
    .content-body-title__parent::after{
        width: 90%;
    }
    .content-body-title__parent--text{
        font-size: 40px;
        transition: linear 2s;
    }
}