.content-body{
    margin-top: 4rem;
    padding: 10px;
}
.review-icon{
    width: 38px;
    background-color: var(--background-dark);
    color: var(--background-dark);
    height: 38px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    white-space: nowrap;
    overflow: hidden;
    border-radius: 0 5px 5px 0;
    margin-left: -2px;
    border: solid 1px #fff;
    -moz-user-select: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
/*ui tablet*/
/* @media (min-width: 768px) and (max-width: 991px) { */
    /* .content-layout{
        grid-template-columns: 1fr 1fr;
    } */
/* } */

/*ui mobile*/
/* @media (max-width: 767px) {
    .content-layout{
        grid-template-columns: 1fr;
    }
} */